{{ with .Data.DiskEncryption }}{{ if eq .Type "tpm2" "nbde" "tpm2+nbde" -}}
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  name: disk-encryption-{{ $.Role }}
  labels:
    machineconfiguration.openshift.io/role: {{ $.Role }}
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      luks:
        - name: root
          device: /dev/disk/by-partlabel/root
          clevis:
          {{- if eq .Type "tpm2" }}
            tpm2: true
          {{- else if eq .Type "nbde" }}
            tang:
            {{- range .Tang }}
                - url: "{{ .URL }}"
                  thumbprint: "{{ .Thumbprint }}"
            {{- end }}
          {{- else if eq .Data.Type "tpm2+nbde" }}
            custom:
              pin: "sss"
              needsNetwork: true
              config: '{"t":2,"pins":{"tpm2":[{}],"sss":[{"t":1,"pins":{"tang":[
              {{- $delim := "" -}}
              {{- range .Data.Tang -}}
                {{ $delim }}{"url":"{{ .URL }}","thp":"{{ .Thumbprint }}"}
                {{- if not $delim -}}{{- $delim = "," -}}{{- end -}}
              {{- end -}}
              ]}}]}}'
          {{- end }}
          options: [--cipher, aes-cbc-essiv:sha256]
          wipeVolume: true
      filesystems:
        - device: /dev/mapper/root
          format: xfs
          wipeFilesystem: true
          label: root 
  {{- if eq .Type "nbde" "tpm2+nbde" }}
    systemd:
      units:
        - name: "initramfs-network-config-sync.service"
          enabled: true
          contents: |
            [Unit]
            Description=Sync the main system network configuration into initramfs for consistency at boot
            After=NetworkManager.service

            [Service]
            Type=simple
            ExecStart=rpm-ostree ex initramfs-etc --track /etc/NetworkManager

            [Install]
            WantedBy=default.target
    kernelArguments:
      - rd.neednet=1
  {{- end }}
{{- end }}{{ end }}
