{{ if eq .Type "tpm2" "nbde" "combined" -}}
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  name: disk-encryption
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      luks:
        - name: root
          device: /dev/disk/by-partlabel/root
          clevis:
          {{- if eq .Type "tpm2" }}
            tpm2: true
          {{- else if eq .Type "nbde" }}
            tang:
            {{- range .Tang }}
              - url: "{{ .URL }}"
                thumbprint: "{{ .Thumbprint }}"
            {{- end }}
          {{- else if eq .Type "combined" }}
            custom:
              config: '{"t":2,"pins":{"tpm2":[{}],"sss":[{"t":1,"pins":{"tang":
              {{- toJson .Tang -}}
              }}]}}'
              needsNetwork: true
              pin: "sss"
          {{- end }}
          options: [--cipher, aes-cbc-essiv:sha256]
          wipeVolume: true
      filesystems:
        - device: /dev/mapper/root
          format: xfs
          wipeFilesystem: true
          label: root 
  {{- if eq .Type "nbde" "combined" }}
    kernelArguments:
      - rt.neednet=1
  {{- end }}
{{- end }}
