{{ if eq .Data.Type "tpm2" "nbde" -}}
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  name: disk-encryption-{{ .Role }}
  labels:
    machineconfiguration.openshift.io/role: {{ .Role }}
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      luks:
        - name: root
          device: /dev/disk/by-partlabel/root
          clevis:
          {{- if eq .Data.Type "tpm2" }}
            tpm2: true
          {{- else if eq .Data.Type "nbde" }}
            tang:
            {{- range .Data.Tang }}
                - url: "{{ .URL }}"
                  thumbprint: "{{ .Thumbprint }}"
            {{- end }}
          {{- end }}
          options: [--cipher, aes-cbc-essiv:sha256]
          wipeVolume: true
      filesystems:
        - device: /dev/mapper/root
          format: xfs
          wipeFilesystem: true
          label: root 
  {{- if eq .Data.Type "nbde" }}
    kernelArguments:
      - rt.neednet=1
  {{- end }}
{{- end }}
